.alert-container {
  margin-top: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 5px red;
}

.alert-message {
  text-align: center;
  color: red;
  font-size: 48px;
  font-weight: bold;
  text-decoration: underline;
}

.alert-button {
  background-color: red;
  color: white;
  border-radius: 30%;
  font-size: 36px;
  padding: 25px;
}
